.calendar-card {
  @extend %ellipsis;

  background-color: $white;
  border: 1px solid $color-neutral-200;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba($color-primary-900, 0.1);
  text-align: left;
  color: $color-primary-900;
  padding: 0 8px 0 8px;
  font-size: 12px;
  font-weight: 600;
  height: 26px;
  line-height: 24px;
  margin-bottom: 2px;

  &:hover {
    cursor: pointer;
  }

  &:not(.calendar-card--disabled):not(.calendar-card--dragging):hover {
    cursor: pointer;
    background-color: $color-neutral-100;
  }
}
